<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>

  <body>
    <%- include("partials/navbar") %> <%- include("partials/social") %>

    <div class="container reach">
      <div class="row">
        <div class="col-12 formuilario">
           <h1> <%=title%> </h1>
           <div class="col-12">
            <section >

<article>

 <br>
    <p>Somos 3 desarrolladores FullStack egresados de DigitalHouse que nos planteamos ante la situacion del COVID 19, que muchas páginas relacionadas con el ámbito musical caresen de ciertos equipamientos o instrumentos y el hecho de que algunas salas de ensayo o mismo casas de ventas de equiipos permanecen cerradas pensamos en ofrecer un servicio cuasi asistido a los profesionales.
  </p>
  <p>
      Para ello desarrollamos Sound Power, una plataforma de venta de instrumentos para cubrir las necesidades de profesionales en estos tiempos de dificultad que nos atraviezan a todos, además cuenta con la posibilidad  de un contacto permantente para ascesorar al cliente.
       
  </p>
    </article>
<h6>Lima Rocio</h6>
<p></p>
</article>
<article>
<h6>Puglia Julian</h6>
<p></p>
<article>
</article>
<h6>Rogido Francisco</h6>
<p></p>
</article> 
</section>
           </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
