<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>

  <body>
    <%- include("partials/navbar") %> <%- include("partials/social") %>

    <div class="container reach">
      <div class="row">
        <div class="col-12 formuilario">
           <h1> <%=title%> </h1>
           <div class="col-12">
            <section >

<article>

 <br>
    <p>En Power Sound te invitamos a que dejes salir aquello que llevas guardado dentro, lo que te mueve a vivir nuevas experiencias, eso que te vuela la cabeza.  Vibramos emociones al mejor estilo  rock Jagger  con el ardor y la furia para que destapes el rockero que hay en vos. </p>
  <p>
    Somos Francisco Julián y Rocio, un equipo de emprendedores, apasionados por la música y la programación, hablamos un  mismo idioma, el coder. Digitalizamos ideas/proyectos/sueños, nos motiva probar y hacer. Ese fue el punto de partida, el encaje perfecto, para  que nos diéramos cuenta que nos unía una pasión: el código de la música.   
  </p>
  <p>Tras dar el último paso en un proyecto integrador de Full Stack Developer, de la mano de Digital House, nació Power Sound,  en la que cada uno puso  su ahínco y devoción para hacerlo realidad y hoy ponemos a tu disposición teclados, guitarras, baterías y un sin fin de instrumentos más, las mejores marcas Gibson, Fender, Casio, Yamaha.</p>
  <p>Llevamos como estandarte una frase de  John Lennon “En el rock reconoces algo verdadero, como en todo el arte de verdad. Si es real, normalmente es sencillo, y si es sencillo es verdadero.”</p>
    </article>
<h6>Lima Rocio</h6>
<p></p>
</article>
<article>
<h6>Puglia Julian</h6>
<p></p>
<article>
</article>
<h6>Rogido Francisco</h6>
<p></p>
</article> 
</section>
           </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
