<!DOCTYPE html>
<html lang="es">
<%- include("partials/head")%>
<body>
   <%- include("partials/navbar")%>
   <%- include("partials/social") %>
  
    <div class="modifica container">
     
<div class="row"> 
  <h1 class="col-12">
    <%- title %>
  </h1>
 <div class="formulario col-12 col-md-6 col-lg-6">
       <!--FORMULARIO-->
  <form action="/products/modify/<%= producto.id %> ?_method:PUT" method="POST">

      
  <div class="seleccion-instrumento">
    <h4> Cambiar Categoria</h4>
    <label> <%= producto.categoria %></label> <br>
      <select class="seleccion-de-instrumento col-12 col-md-12 col-lg-6">
       <option selected><%= producto.categoria %></option>
       <option value="cuerdas">Guitarras/Bajos</option>
       <option value="teclados">Teclados/Pianos</option>
       <option value="tecnica">Amplificadores/microfonos</option>
       <option value="accesorios">Accesorios</option>
      </select>
  </div><br>
      <div class="anuncio ">
        <h4> <%=producto.nombre %></h4><br>
        <input type="text" class="titulo de anuncio col-12 col-md-12 col-lg-6" id="titulo de anuncio" placeholder="titulo">
      </div><br>
      <div class="descripccion ">
        <h4> Cambiar Descripción</h4>
         <label > <%-producto.descripcion %></label> <br>
        <textarea class="col-12 col-md-12 col-lg-6" name="descripcion" rows="6" ></textarea> 
        </div>
    </div>
       <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="precio">
            <h4> Cambiar Precio</h4>
            <h2>$<%=producto.precio%></h2> <br>
             <button  class="boton" type="button">ARS</button>
             <button  class="boton" type="button">USD</button>
              <input type="text" name="precio" id="precio"><br>
       </div>

       <div class="fotos">

        <h2>Agregar Fotos</h2> <br>
        
           <div class="imagen">
            <i class="far fa-images"></i>
            <label for="exampleFormControlFile1">Seleccione una imagen</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
              <input type="file" class="form-control-file" id="exampleFormControlFile2">
              <input type="file" class="form-control-file" id="exampleFormControlFile3">
              <input type="file" class="form-control-file" id="exampleFormControlFile4">
              <input type="file" class="form-control-file" id="exampleFormControlFile5">
              <input type="file" class="form-control-file" id="exampleFormControlFile6">
              <input type="file" class="form-control-file" id="exampleFormControlFile7">
              <input type="file" class="form-control-file" id="exampleFormControlFile8">
            </div>
          </div>
            <div class="publicar"> 
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
    </div>
</div>
  </form>
    </div>
    <!--FOOTER-->
<%- include("partials/footer")%>
</body>
</html>