<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head")%>

<body>
    <%- include("partials/navbar") %> 
    <%- include("partials/social") %>
    
<div class="container">
    <section class="listadoProductos">
    <div class="row products">
        <div class="col-12">
            <h2>
            <%= title %>
            </h2>
        <div class="filas">
                        <% for (let i = 0; i < products.length;i++) { %>
                       <ul>
                         <li>   <article>
                            <figure>
                                <ul><
                                <a href="/products/details/<%= product.id %> "><img src="/images/products/<%- product.imagen %>  " alt=" ">
                                    <%- product.nombre %>
                                </a>
                            </figure>
                            <h5>
                                    <%- product.price %>
                            </h5> 
                        </li> </article>
                    </ul>     
                            <% } %> 
                        </div>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
</div>

    <%- include("partials/footer") %>
</body>
</html>