<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head")%>

<body>
    <%- include("partials/navbar") %> 
    <%- include("partials/social") %>
    
<div class="container">
    <section class="listadoProductos">
    <div class="row products">
        <div class="col-12">
            <h2>
            <%= title %>
            </h2>
            <div class="filas col-12 col-md-4">
                <% for (let i = 0; i < products.length;i++) { %>
               <ul style="list-style: none;">
                 <li>   <article class="row">
                    <figure class="col-12 col-md-2>
                    
                            <div ">
                        <img src="/images/products/<%- products[i].imagen %>" alt="">
                            </div>
                    </figure>
                            <div style="margin: 2vh 0;" class="col-12 col-md-10">
                            <a  href="/products/details/:products[i].id">  <%= products[i].nombre%></a>
                             <h5 style="margin-top: 2vh;"> $ <%= products[i].precio %></h5>
                            </div>
                                                
                </li> </article>
            </ul>     
                    <% } %> 
                </div>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
</div>

    <%- include("partials/footer") %>
</body>
</html>