<!DOCTYPE html>
<html lang="es">
<%- include("partials/head")%>
<body>
  <%- include("partials/navbar")%>
  <%- include("partials/social") %>
  
    <div style="border-radius: 3px; margin-top: 8vh; margin-bottom: 5vh;" class="publica container">
      <div class="row">
        <h1 style="background: #045757; color: #e4e4e4; border-radius: 3px;" class="col-12"><%=title%></h1>

  
      <!--FORMULARIO-->
  <form class="col-12" action="/products/add" method="POST" enctype="multipart/form-data">
    <div class="col-12  col-md-6">
    <h5>INCLUYE ALGUNOS DETALLES</h5> 


    <div class="seleccion-instrumento col-12"></div>
    <div class="anuncio col-12">
        <label class="col-12" for="titulo de anuncio"> Título de anuncio *</label> 
        <input type="text" class="titulo de anuncio col-12" id="titulo de anuncio" name="titulo" placeholder="Ej: Guitarra Feder Stratocaster">
    </div>
    <div>
    <label class="col-12" for=""> Tipo de instrumento *</label> 
      <select name="class" class="seleccion-de-instrumento col-12">
        <option selected>seleccioná tu instrumento</option>
        <option value="guitarras-bajos">Guitarras/Bajos</option>
        <option value="teclados-pianos">Teclados/Pianos</option>
        <option value="amplificadores-microfonos">Amplificadores/microfonos</option>
        <option value="accesorios">Accesorios</option>
      </select> 
    </div>
      <div>
      <label  class="col-12" for=""> Marca *</label> 
        <select name="mark" class="seleccion-de-instrumento col-12">
          <option selected>seleccioná Marca</option>
       <option value="fender">Fender</option>
       <option value="gibson">Gibson</option>
       <option value="casio">Casio</option>
       <option value="yamaha">Yamaha</option>
       <option value="technics">Technics</option>
       <option value="marshall">Marshall</option>
        </select> 
        <div>
          <label class="col-12" for=""> Color *</label> 
        <select name="color" class="seleccion-de-instrumento col-12">
          <option selected>seleccioná Color</option>
       <option value="red"><p style="color: red;"> rojo</p></option>
       <option value="blue"><p style="color: blue;"> azul</p></option>
       <option value="black"><p style="color: black;"> negro</p></option>
       <option value="gold"><p style="color: gold;"> dorado</p></option>
       <option value="brown"><p style="color: brown;"> marron</p></option>
       <option value="gray"><p style="color: gray;"> gris</p></option>
        </select>
      </div>
    <div class="descripcion col-12">
         <label>Descripción *</label> 
        <textarea class="col-12 " name="descripcion" rows="6" ></textarea> 
    </div>
    <div class="col-12 ">
        <div class="precio">
          <h5>FIJA UN PRECIO</h5>        
            $  <input type="text"  name="precio" id="precio" placeholder="25.000"><br>
        </div>
        <div class="descuento">
          <h5>Descuento (0-100%)</h5>        
          <input type="number" id="discount" name="discount"
          min="0" max="100"> %
        </div>
    </div>

    </div>
    
    <div class="fotos col-12 col-md-6">
        <h5>ELIGE UNA FOTO</h5>        
          <div class="imagen">
            <i class="far fa-images"></i>
            <label for="exampleFormControlFile1">Seleccione una imagen</label>
              <input type="file" name="imagen" class="form-control-file" id="exampleFormControlFile1">
          </div>
    </div>
        <div class="publicar col-12"> 
      <button type="submit" class="btn btn-primary">PUBLICAR AHORA</button>
    </div>
    </div>
    </div>
    
  </form>
  <div style="vertical-align: middle; object-fit: cover;
  object-position: top; margin-bottom: 10px ;        border-radius: 3px; background: #045757;" class="col-12 col-md-2 avatar">
  </div>
      </div>
    </div>
    <!--FOOTER-->
<%- include("partials/footer.ejs")%>
</body>
</html>