<!DOCTYPE html>
<html lang="es">
<%- include("partials/head")%>
<body>
  <%- include("partials/navbar")%>
  <%- include("partials/social") %>
  
    <div style="border-radius: 3px; margin-top: 8vh; margin-bottom: 5vh;" class="publica container">
      <div class="row">
        <h1 style="background: #045757; color: #e4e4e4; border-radius: 3px;" class="col-12"><%=title%></h1>

  
      <!--FORMULARIO-->
  <form class="col-12" action="/products/add" method="POST" enctype="multipart/form-data">
    <div class="col-12  col-md-6">
    <h5>INCLUYE ALGUNOS DETALLES</h5> 


    <div class="seleccion-instrumento col-12"></div>
    <div class="anuncio col-12">
        <label class="col-12" for="titulo de anuncio"> Título de anuncio *</label> 
        <input type="text" class="titulo de anuncio col-12" id="titulo de anuncio" name="titulo" placeholder="Ej: Guitarra Feder Stratocaster">
    </div>
    <div>
    <label class="col-12" for=""> Tipo de instrumento *</label> 
    <select class="form-control" name="class" id="">
      <option value="">Elige la Clase del Intrumento</option>
      <% categorias.forEach(categoria => { %>
          <option value="<%= categoria.id %>"><%= categoria.nombre %> </option>
      <% }) %>
  </select>
    </div>
      <div>
      <label  class="col-12" for=""> Marca *</label> 
      <select class="form-control" name="mark" id="">
        <option value="">Elige la Marca</option>
        <% marcas.forEach(marca => { %>
            <option value="<%= marca.id %>"><%= marca.nombre %> </option>
        <% }) %>
    </select>
        <div>
    
      </div>
    <div class="descripcion col-12">
         <label>Descripción *</label> 
        <textarea class="col-12 " name="descripcion" rows="6" ></textarea> 
    </div>
    <div class="col-12 ">
        <div class="precio">
          <h5>FIJA UN PRECIO</h5>        
            $  <input type="text"  name="precio" id="precio" placeholder="25.000"><br>
        </div>
        <div class="descuento">
          <h5>Descuento (0-100%)</h5>        
          <input type="number" id="discount" name="discount"
          min="0" max="100"> %
        </div>
    </div>

    </div>
    </div>
    <div class="fotos col-12 col-md-6">

        <h5>ELIGE UNA FOTO</h5>        
          <div class="imagen">
            <i class="far fa-images"></i>
            <label for="exampleFormControlFile1">Seleccione una imagen</label>
              <input type="file" name="imagen" class="form-control-file" id="exampleFormControlFile1">
          </div>
    </div>
        <div class="publicar col-12"> 
      <button type="submit" class="btn btn-primary">PUBLICAR AHORA</button>
    </div>
    
    </div>
    </div>
  </form>

      </div>
    </div>
    <!--FOOTER-->
<%- include("partials/footer.ejs")%>
</body>
</html>