<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>
  <body>
    <%- include("partials/navbar") %> 
    <%- include("partials/social") %>

    <div class="container cajadp">
      <section class="detalleP">
        <div class="row">
          <div class="titulo col-12">
            <h3 class="tit-prin">
              <%= product.nombre %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="imagen col-12 col-md-6 col-lg-4">
            <figure class="imagen">
              <img
                class=" col-12"
                style="border-radius: 3px; height: 30vh; width: 80%;" 
                src=  "/images/products/<%= product.imagen %>"
                alt="imagen"
              />
            </figure>
            <p class="color col-12 col-md-6 col-lg-4">color</p>
          </div>

          <article class="principal col-12 col-md-6 col-lg-8">
            <div class="descripcion">
              <h3>DESCRIPCION</h3>
              <p>
                <%= product.descripcion %>
              </p>
            </div>
            <div class="opciones col-12">
              <h5>Color</h5>
              <div class="bColors">
                <button>Color1</button>
                <button>Color2</button>
              </div>
              <h5>Miscelanio</h5>
              <div class="bMisc">
                <button>Color1</button>
                <button>Color2</button>
              </div>
              <h5 class="precio col-12"><%= product.price %> </h5>
              <div class="botones bBuy&fav">
              
                <% if (typeof user != "undefined" && user) { %>
                  <% if ( user.rol == "admin" ) { %>
                  
                
                    <a href='/products/modify/<%= product.id %>' class="col-6"><button  class="col-12 comprar">Modificar</button></a>
            
                
                 <a href='/products/delete/<%- product.id %>' class="col-6"><button  class="col-12 favoritos">Eliminar</button></a>
                 <% } else{ %>
                  <a href='/products/cart' class="col-6"><button  class="col-12 comprar">comprar</button></a>
                <% } %>
                <%} else{ %>
                  <a href='/users/register' class="col-6"><button  class="col-12 comprar">comprar</button></a>
              
                <a href='/products/profile' class="col-6"><button  class="col-12 favoritos">favoritos</button></a>
                <% } %>
              
              
              
              </div>
              <div class="icons row">
                <i class="fas fa-truck col-3"></i>
                <i class="fas fa-briefcase col-3"></i>
                <i class="fas fa-wrench col-3"></i>
                <i class="fas fa-shield-alt col-3"></i>
              </div>
            </div>
          </article>
        </div>

       
      </section>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
