<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>

  <body>
    <%- include("partials/navbar") %> 
    <%- include("partials/social") %>
    
<div class="container">
    <section class="listadoProductos">
    <div class="row products">
        <div class="col-12">
              <h2>
              <%= title %>
              </h2>
          <div class="filas">
                        

                                    
                             <article>
                               <figure class="row">
                                   
                                <a class="col-12"  href="" ;"><img style="border-radius: 50%; height: 8vh; width: 8 vh; object-fit: cover; z-index: 1; margin-right: 20px;" src="/images/users/avatar-1605220729473.png" alt=" ">
                                    USUARIO .....
                       </a>
                                    </figure>
                                    <figure style="text-align: right;">
                                     <a style="text-align: right; background: none" class="col-2" href=""><i style="color: red; " class="fas fa-trash"></i></a>
                                     <a style="text-align: right; background: none" class="col-2" href=""><i style="color: #045757 ;" class="far fa-edit"></i></a>       
                                    </figure>
                                    </article>
                                

                         
                        </div>
                    </div>
                  
                </section>
            </div>
            
        </div>
    </div>
</div>

    <%- include("partials/footer") %>
  </body>
</html>